- title "Seznam brezplačnih WiFi točk"

= render :partial => "search"

.info
  = "Število najdenih točk: " + @spots.total_entries.to_s
  - if @search.location
    |
    = "Razdalja od iskane lokacije: " + @search.radius.to_s + " km"

- if @spots
  %ul#main_list
    = render @spots

  = will_paginate @spots
- else
  - # This teoreticaly never happens since Search raises exception that gets caught in spots_controller
  %p
    Nismo našli točk, ki bi ustrezali iskalnemu nizu
    %strong= @search.string