- title @spot.title
- keywords "#{@spot.title}, wifi točka, brezžično omrežje, brezplačna točka, brezplačen internet, dostop do interneta, wi-fi, wireless"
- description "Brezplačna WiFi točka: #{@spot.title} - #{@spot.notes}"

- content_for :head do
  = render :partial => "spots/geo_header"

%h2
  =h @spot.title
  = " (izbrisana)" if @spot.deleted?

%div.geo
  %span.latitude= @spot.lat
  %span.longitude= @spot.lng

%p
  = link_to "Uredi podatke", edit_spot_path(@spot), :rel => :nofollow
  - if logged_in? && (current_user == @spot.user || current_user.admin?)
    |
    - if @spot.deleted?
      = link_to "Restore", restore_spot_path(@spot), :method => :put
    - else
      = link_to_function "Izbriši", "$('delete').show()"
    |
    = link_to "Izbriši (iz baze)", spot_path(@spot), :method => :delete, :confirm => "Si prepričan da želiš popolnoma odstraniti točko? Undo ne obstaja!"

- if logged_in? && !@spot.deleted?
  #delete{:style => "display:none;"}
    - # Unfortunately forms only know :get and :post methods
    - form_for @spot, :url => delete_spot_path(@spot) do |form|
      = form.label :reason, "Razlog za izbris"
      %br
      = form.text_area :reason, :rows => 5
      %br
      = form.submit "Potrdi izbris"
      =# link_to "Potrdi izbris", delete_spot_path(@spot), :method => :delete, :confirm => "Si prepričan da želiš odstraniti točko?"

%dl
  %dt Kategorija
  %dd= @spot.category.name

  - unless @spot.location.blank?
    %dt Ulica ali naslov:
    %dd=h @spot.location
    
  - unless @spot.city.blank?
    %dt Kraj, Mesto:
    %dd=h @spot.city
      
%dl
  %dt Tip omrežja
  %dd
    = spot_type(@spot.open?)

  - unless @spot.ssid.blank?
    %dt SSID
    %dd=h @spot.ssid

  - unless @spot.open? || @spot.key.blank?
    %dt Geslo
    %dd=h @spot.key
  
%dl
  - unless @spot.url.blank?
    %dt Spletna stran
    %dd= link_to @spot.url, @spot.url, :target => '_blank', :rel => :nofollow
  
  - unless @spot.notes.blank?
    %dt Opis
    %dd
      = reci
      = textilize(@spot.notes)

  - unless @spot.author.blank?
    %dt Avtor
    %dd=h @spot.author.split("@").first

%div.clear

- if logged_in? && current_user.admin?
  %dl
    %dt ID
    %dd= @spot.id
    
    %dt Permalink
    %dd= @spot.permalink

    - if @spot.deleted?
      %dt Razlog za izbris
      %dd= @spot.reason
  
  - # FIXME Versioning needs to be reimplemented
  - if false # @spot.versions.empty?
    %table#versions
      %thead
        %tr
          %th Verzija
          %th Spremembe
          %th Uporabnik
          %th &nbsp;
      %tbody
        - @spot.versions.each do |version|
          = # render :partial => 'version', :object => version
%p.clear
  = link_to "« Nazaj na seznam", spots_path


:javascript
  $().ready(function() {
    wifi = new WifiMap()
    wifi.placeSpot(#{@spot.client_side_json}, false)
    wifi.map.setCenter(wifi.spots[0].latlng)
  })