Radi bi vas obvestili, da smo vam na spletni strani wifi-tocke.si pripravili uporabniški račun. Tako imate zdaj možnost, da kadarkoli dopolnite podatke ali izbrišete katerokoli vnešeno točko.

Ko boste naslednjič obiskali našo stran, se prijavite z naslednjimi podatki:

E-mail:
= @user.email
Geslo:
= @user.password

Prijavite se lahko na naslovu:
= @login_url

Vaše geslo in ostale podatke lahko spremenite v svojem profilu
= @profile_url
Prav tako lahko kadarkoli zahtevate izbris vašega uporabniškega računa.

Lep pozdrav,
ekipa WiFi točke
 
= "------------------------------------------------"
Seznam brezplačnih WiFi točk na http://wifi-tocke.si