- title "WiFi točke blizu #{@city.name}"
- keywords "#{@city.name}, wifi točke, brezžična omrežja, brezplačne točke, brezplačen internet, dostop do interneta, wi-fi, wireless"
- description "Seznam brezplačnih WiFi točk v mestu #{@city.name}"

= render :partial => "spots/search"

%h2
  = @city.name
  = @spots.size
  WiFi točk
  v oddaljenosti
  = @distance
  km

%ul#main_list
  = render @spots

/ TODO Replace with jQuery alternative
%script{:type => "text/javascript"}
  Event.observe(window, 'load', function() {
  var wifiSpots = [
  - @spots.each do |spot|
    = spot.client_side_json + ","
  ]
  app = new WifiMap(wifiSpots)
  })