!!!
%html
  %head
    /
      AUTHORS:
      Dusan Smolnikar, design | http://dusan.fora.si/
      Lenart Rudel s.p., programming | http://twitter.com/lenartr
      Nina Kožar, Blaž Galič, idea & copy
      
      This project is open-source.
      You are welcome to download the code and make improvements
      http://github.com/lenart/wifi-spots

    %title
      = yield(:title) || "WiFi točke"
    %meta{ "http-equiv" => "Content-Type", :content=> "text/html; charset=utf-8" }
    
    %meta{ :name => 'keywords', :content => yield(:keywords) || default_keywords }
    %meta{ :name => 'description', :content => yield(:description) || default_description }
    
    %meta{ :name => 'author', :content => "Lenart Rudel s.p." }
    %meta{ :name => 'framework', :content => "Ruby on Rails" }
    
    = stylesheet_link_tag :screen
    = javascript_include_tag :application
    
    = '<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>'.html_safe
    = yield :head

  %body
    #head
      %h1= link_to(image_tag('wifi.gif', :alt => "Wifi") + image_tag('tocke.gif', :alt => "točke"), root_url)

    - unless hide_map?
      #map_canvas
        = yield :map
      
      #controls
        = link_to '<span>Dodaj točko</span>'.html_safe, new_spot_path, :id => "add_point"
      
    #main
      - flash.each do |key, msg|
        = content_tag :div, msg, :class => "#{key} flash"

      = yield

    #footer
      = render :partial => "/layouts/footer"
      
    = yield :foot

    - unless local_request?
      = render :partial => "layouts/google_analytics"
      = # render :partial => "layouts/get_satisfaction"