!!!
%html
  %head
    %title= yield(:title) || "WiFi točke"
    %meta{ "http-equiv" => "Content-Type", :content=> "text/html; charset=utf-8" }
    %meta{ :name => 'keywords', :content => yield(:keywords) || 'wifi točke, brezžična omrežja, brezplačne točke, brezplačen internet, dostop do interneta, wi-fi, wireless' }
    %meta{ :name => 'description', :content => yield(:description) || 'Seznam WiFi točk v Sloveniji, kjer lahko brezplačno dostopate do interneta. Poznaš tudi ti kako? Dodaj jo na zemljevid!' }
    
    /
      AUTHORS:
      Dusan Smolnikar, design | http://dusan.fora.si/
      Lenart Rudel, programming | http://twitter.com/lenartr
      Nina Kožar, Blaž Galič, idea & copy

    = stylesheet_link_merged :base
    = javascript_include_merged :base

    - if @map
      = GMap.header(:with_vml => false)
      = javascript_include_merged :maps
      = @map.to_html

    - if @spot
      = render :partial => "spots/geo_header"


  %body
  
    #head
      %h1= link_to(image_tag('wifi.gif', :alt => "Wifi") + image_tag('tocke.gif', :alt => "točke"), root_url)

    - if @map
      #map
        = yield :map
      
      #controls
        = link_to '<span>Dodaj točko</span>', new_spot_path, :id => "add_point"
      
    #main
      - flash.each do |key, msg|
        = content_tag :div, msg, :class => "#{key} flash"

      = yield

    #footer
      = render :partial => "/layouts/footer"

    - unless local_request?
      = render :partial => "layouts/google_analytics"
      = render :partial => "layouts/get_satisfaction"