!!!
%html
  %head
    %title= yield(:title) || "WiFi točke"
    %meta{ "http-equiv" => "Content-Type", :content=> "text/html; charset=utf-8" }
    %meta{ :name => 'keywords', :content => yield(:keywords) || 'wifi točke, brezžična omrežja, brezplačne točke, brezplačen internet, dostop do interneta, wi-fi, wireless' }
    %meta{ :name => 'description', :content => yield(:description) || 'Seznam WiFi točk v Sloveniji, kjer lahko brezplačno dostopate do interneta. Poznaš tudi ti kako? Dodaj jo na zemljevid!' }
    
    /
      AUTHORS:
      Dusan Smolnikar, design | http://dusan.fora.si/
      Lenart Rudel, programming | http://twitter.com/lenartr
      Nina Kožar, Blaž Galič, idea & copy
    
    = stylesheet_link_tag "screen"
    = javascript_include_tag :defaults

  %body#front
  
    #head
      = render :partial => "/layouts/cities"
      
    #main
      - flash.each do |key, msg|
        = content_tag :div, msg, :class => "#{key} flash"

      %h1= link_to(image_tag('wifi.gif', :alt => "Wifi") + image_tag('tocke.gif', :alt => "točke"), root_url)

      = yield
      
    #footer
      = render :partial => "/layouts/footer"

    - unless local_request?
      = render :partial => "layouts/google_analytics"
      = render :partial => "layouts/get_satisfaction"